@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Sriracha', cursive;
    --fonte3: 'Passion One', cursive;
}

body {
    min-height: 100vh;
   
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 6vw;
}

header h1 {
    padding-top: 40px;
    font-variant: small-caps; /* Deixa as primeiras letras maiusculas*/
}

header p {
    padding-bottom: 40px;
    font-size: 3vw;
}

 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.8em;
    padding-left: 20px;
    font-family: var(--fonte2);
    font-size: 4vw;
}

section  p {
    padding-left: 20px;
}



.normal {
    background-color: white;
    color: black;
}

.foto {
    background-color: rgba(11, 10, 10, 0.532);
    color: white;
    box-shadow:inset 4px 4px 11px 0px black;
    background-size: cover;
}


.foto p { 
    display: inline-block;
    background-color:  rgba(0, 0, 0, 0.085);
    text-shadow: 1px 1px 1px black;
}


#img1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
   
}

#img2 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
   
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

